{% extends "layout.njk" %}

    {% block head %}
     <title>Página não encontrada</title>
    {% endblock %}

{% block content %}

<body class="home">
  
    <h1 class="not-found">Desculpe, não pudemos encontrar a página que você esta procurando D=</h1>
   

{% endblock %}
